li{
display: block;
float: left;
height:50px;
padding: 20px 25px;
position: relative;
top:-20px;
left:-40px;
font-size:120%;
vertical-align:middle;
}
li:hover{
background: #1C1C1C;
}

header{
background: #363636;
height:50px;
overflow: hidden;
}

a {
color: #fff;
text-decoration: none;
}

p {
margin-left:2%;
}

.fontBigCapitals {
position: relative;
margin-left: 2%;
font-size: 200%;
margin-top: 1%;
margin-bottom: 1%;
}

.mainContentBackground {
background: #B5B5B5;
overflow: hidden;
}

body {
margin: 2%;
}

.HomePicture {
float: right;
max-height: 50px;
}

.BackArrow {
position: relative;
top:-10px;
padding: 17px 15px;
width: 2%;
height: auto;
}

TABLE {
width: 95%;
margin-top: 1%;
margin-left: 2%;
margin-right: 2%;
margin-bottom: 2%;
border-collapse: collapse;
}
TR, TD, TH {
vertical-align: middle;
padding: 5px;
}
TH {
text-align:left;
background: green;
color: white;
width:5%;
}

tr:nth-child(1n) {
background: silver;
}
tr:nth-child(2n) {
background: #CFCFCF;
}
TR:hover {
background: #A9A9A9;
}

input {
border-radius: 6px;
margin-top: -0.5%;
margin-bottom: -0.5 %;
padding: 4px 20px;
width: 48%;
}

button {
margin-left: 2%;
background: green;
padding: 4px 25px;
border-radius: 8px;
color:white;
border:0px;
}

span {
color: red;
font-size: 120%;
}