<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <!-- LOGIN -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ivanovcorporation.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <!-- USER -->
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>com.ivanovcorporation.controller.UsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/Users/*</url-pattern>
    </servlet-mapping>

    <!-- ADMIN -->
    <servlet>
        <servlet-name>AdminsServlet</servlet-name>
        <servlet-class>com.ivanovcorporation.controller.AdminsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminsServlet</servlet-name>
        <url-pattern>/Admins/*</url-pattern>
    </servlet-mapping>

    <!-- INDEX -->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.ivanovcorporation.controller.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>

    <!-- CUSTOMER -->
    <servlet>
        <servlet-name>CustomersServlet</servlet-name>
        <servlet-class>com.ivanovcorporation.controller.CustomersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomersServlet</servlet-name>
        <url-pattern>/Customers/*</url-pattern>
    </servlet-mapping>

    <!-- ACCOUNTS -->
    <servlet>
        <servlet-name>Accounts</servlet-name>
        <servlet-class>com.ivanovcorporation.controller.AccountsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Accounts</servlet-name>
        <url-pattern>/Accounts/*</url-pattern>
    </servlet-mapping>

    <!-- TRANSACTIONS -->
    <servlet>
        <servlet-name>Transactions</servlet-name>
        <servlet-class>com.ivanovcorporation.controller.TransactionsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Transactions</servlet-name>
        <url-pattern>/Transactions/*</url-pattern>
    </servlet-mapping>

    <!--FILTERS -->

    <filter>
        <!-- FOR LOGIN AND REGISTRATION-->
        <filter-name>SecurityFilterLoginAndReg</filter-name>
        <filter-class>com.ivanovcorporation.controller.SecurityFilterLoginAndReg</filter-class>
    </filter>

    <filter-mapping>
        <!-- FOR LOGIN AND REGISTRATION MAPPING -->
        <filter-name>SecurityFilterLoginAndReg</filter-name>

        <url-pattern>/</url-pattern>
        <url-pattern>/Users/*</url-pattern>
    </filter-mapping>

    <filter>
        <!-- FOR ALL NAME-->
        <filter-name>SecurityFilterAll</filter-name>
        <filter-class>com.ivanovcorporation.controller.SecurityFilterAll</filter-class>
    </filter>

    <filter-mapping>
        <!-- FOR ALL MAPPING-->
        <filter-name>SecurityFilterAll</filter-name>

        <url-pattern>/Accounts/*</url-pattern>
        <url-pattern>/Transactions/*</url-pattern>
    </filter-mapping>

    <filter>
        <!-- FOR USERS NAME-->
        <filter-name>SecurityFilterUsers</filter-name>
        <filter-class>com.ivanovcorporation.controller.SecurityFilterUsers</filter-class>
    </filter>

    <filter-mapping>
        <!-- FOR USERS MAPPING -->
        <filter-name>SecurityFilterUsers</filter-name>


        <url-pattern>/Customers</url-pattern>
        <url-pattern>/Accounts</url-pattern>
        <url-pattern>/Transactions</url-pattern>
    </filter-mapping>

    <filter>
        <!-- FOR ADMINS NAME-->
        <filter-name>SecurityFilterAdmins</filter-name>
        <filter-class>com.ivanovcorporation.controller.SecurityFilterAdmins</filter-class>
    </filter>

    <filter-mapping>
        <!-- FOR ADMINS MAPPING -->
        <filter-name>SecurityFilterAdmins</filter-name>

        <url-pattern>/Admins</url-pattern>
    </filter-mapping>



</web-app>
